html,
body {
  padding: 0 15px;
  margin: 0;
  font-family: 'Nerko One', cursive;

  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /*width: 100%;*/
  max-width: 100%;
  vertical-align: middle;

}

body * {
  box-sizing: border-box;
}
